.task
bin
logs
frontend/dist
frontend/node_modules
lx-music-service/node_modules
lx-music-service/dist
plugins/musicplayer/lx-music-service/
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
*.log
ltools
.DS_Store
.gitnexus
.claude
ref
task_plan.md
progress.md
findings.md
